(
    shape: Circle( radius: 1.25 ),
    stats: Stats(
        contact_damage: 20.0,
        move_speed: 25.0,
        vulnerability: VulnerabilityStats(
            physical: 0.2,
            fire: 1.0,
            explosive: 1.0,
        ),
    ),
    acceleration: 2.0,
    hp: 50.0,
    ai: Crawler,
    kind: EnemyDice,
    gun: None
)