(
    shape: Circle( radius: 1.0 ),
    contact_damage: 10.0,
    speed: 20.0,
    acceleration: 0.5,
    hp: 50.0,
    ai: Ranger(
        preferred_distance: 25.0,
    ),
    gun: Some((
        ammo: 2,
        reload_time: 3.0,
        shot_delay: 1.0,
        recoil: 1.0,
        shot: (
            pattern: Single,
            projectile: (
                lifetime: 5.0,
                speed: 20.0,
                damage: 5.0,
                knockback: 1.0,
                shape: Circle( radius: 0.2 ),
                ai: ConstantTurn ( degrees_per_second: 90.0 ),
                kind: SquidLike,
            ),
        ),
    )),
)