EnemyConfig(
    shape: Circle( radius: 3.0 ),
    stats: Stats(
        contact_damage: 50.0,
        move_speed: 10.0,
        vulnerability: VulnerabilityStats(
            physical: 0.5,
            fire: 2.0,
            explosive: 0.5,
        ),
    ),
    acceleration: 5.0,
    hp: 500.0,
    ai: Ranger ( preferred_distance: 0.0 ),
    kind: EnemyHuge,
    stops_barrel: true,
    gun: Some((
        shot_delay: 2.0,
        recoil: 10.0,
        shot: (
            pattern: Single,
            projectile: (
                lifetime: 5.0,
                speed: 40.0,
                damage: 10.0,
                knockback: 20.0,
                shape: Circle( radius: 0.2 ),
                ai: Straight,
                kind: WheelPizza
            ),
        )
    )),
)