EnemyConfig(
    shape: Circle( radius: 3.0 ),
    stats: Stats(
        contact_damage: 50.0,
        move_speed: 10.0,
        vulnerability: VulnerabilityStats(
            physical: 0.5,
            fire: 2.0,
            explosive: 0.5,
        ),
    ),
    acceleration: 5.0,
    hp: 500.0,
    ai: Crawler,
    kind: EnemyHuge,
    stops_barrel: true,
    gun: None,
)