(
    fullscreen: [Key(F4)],
    reset: [Key(R)],
    left: [Key(ArrowLeft), Key(A)],
    right: [Key(ArrowRight), Key(D)],
    up: [Key(ArrowUp), Key(W)],
    down: [Key(ArrowDown), Key(S)],
    shoot: [Mouse(Left)],
    transform: [Mouse(Right)],
    barrel_dash: [Mouse(Left)],
    gas: [Mouse(Left)],
)
