(
    min_spawn_distance: 90.0,
    max_spawn_distance: 110.0,
    spawn_circle_radius: 10.0,
    infinite_waves_until_boss: 0,
    infinite_wave: (
        difficulty_time_scaling: 0.3,
        difficulty_wave_scaling: 3.0,
        wave_delay: 1.0,
        spawn_delay: 0.1,
        enemies: {
            "crawler": ( cost: 1.0 ),
            "tank": ( cost: 3.0 ),
            "ranger": ( cost: 10.0 ),
            "ranger2": ( cost: 5.0 ),
        },
    ),
    waves: [
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "crawler",
                "crawler",
                "crawler",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "ranger2",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "ranger2",
                "ranger2",
                "ranger2",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "ranger",
                "tank",
                "tank",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "crawler",
                "tank",
                "tank",
                "ranger2",
                "ranger2",
                "ranger2",
                "ranger",
            ],
        ),
    ],
)
