Config(
    camera: (
        fov: 50.0,
        speed: 6.0,
        dead_zone: 0.5,
    ),
    player: (
        speed: 45.0,
        acceleration: 3.0,
        hp: 100.0,
        human_state: (
            shape: Circle( radius: 1.0 ),
        ),
        barrel_state: (
            steering: 1.0,
            shape: Rectangle(
                width: 1.75,
                height: 2.5,
            ),
            gasoline: (
                lifetime: 10.0,
                distance_period: 1.0,
                shape: Circle( radius: 1.5 ),
            ),
        ),
        gun: ( // Revolver
            ammo: 6,
            reload_time: 3.0,
            shot_delay: 0.6,
            projectile: (
                speed: 50.0,
                damage: 30.0,
                shape: Circle( radius: 0.2 )
            ),
        ),
    ),
    enemies: [
        (
            shape: Circle( radius: 1.0 ),
            speed: 10.0,
            acceleration: 1.0,
            hp: 50.0,
            ai: Crawler,
            gun: None,
        ),
        (
            shape: Circle( radius: 1.0 ),
            speed: 20.0,
            acceleration: 0.5,
            hp: 50.0,
            ai: Crawler,
            gun: None,
        ),
    ],
)
