Config(
    world_size: (200.0, 200.0),
    level: LevelConfig(
        spacing: 20.0,
        blocks_number: 50,
        blocks: [
            (
                weight: 2.0,
                health: Some(50.0),
                kind: Barrel,
                shape: Circle( radius: 2.0 ),
                explosion: Some(ExplosionConfig(
                    radius: 30.0,
                    knockback: 50.0,
                    damage: 50.0,
                    ignite: Some(OnFire(
                        duration: 5.0,
                        damage_per_second: 20.0,
                    )),
                )),
            ),
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 5.0,
                    height: 7.5,
                ),
            ),
            (
                weight: 10.0,
                shape: Circle( radius: 4.0 ),
            ),
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 6.0,
                    height: 6.0,
                ),
            ),
        ],
    ),
    death_explosion: Some(ExplosionConfig(
        radius: 5.0,
        knockback: 10.0,
        damage: 10.0,
        ignite: Some((
            duration: 1.0,
            damage_per_second: 10.0,
        )),
    )),
    camera: CameraConfig(
        fov: 70.0,
        speed: 6.0,
        dead_zone: 0.5,
    ),
    player: PlayerConfig(
        fire_immune: true,
        speed: 20.0,
        acceleration: 3.0,
        dash_burst: 30.0,
        hp: 500.0,
        contact_damage: 5.0,
        human_state: HumanStateConfig(
            shape: Circle( radius: 1.2 ),
        ),
        barrel_state: BarrelStateConfig(
            steering: 1.0,
            speed: 40.0,
            runover_damage: 0.0,
            runover_damage_scale: 0.2,
            self_explosion_strength: 50.0,
            shape: Rectangle(
                width: 1.75,
                height: 2.5,
            ),
            gasoline: (
                can_control: false,
                cost: 0.0,
                lifetime: 10.0,
                distance_period: 1.5,
                ignite_timer: 0.2,
                fire_radius: 5.0,
                explosion: ExplosionConfig(
                    radius: 15.0,
                    knockback: 10.0,
                    damage: 10.0,
                    ignite: Some(OnFire(
                        duration: 10.0,
                        damage_per_second: 10.0,
                    )),
                ),
                shape: Circle( radius: 1.5 ),
                fire: FireConfig(
                    duration: 5.0,
                    damage_per_second: 10.0,
                ),
            ),
        ),
        gun: GunConfig(
            ammo: 6,
            reload_time: 3.0,
            shot_delay: 0.1,
            recoil: 1.0,
            shot: ShotConfig(
                projectile: ProjectileConfig(
                    lifetime: 2.0,
                    speed: 50.0,
                    damage: 10.0,
                    knockback: 1.0,
                    shape: Circle( radius: 0.2 ),
                ),
            ),
        ),
    ),
)
