(
    fullscreen: [Key(F4)],
    left: [Key(Left), Key(A)],
    right: [Key(Right), Key(D)],
    up: [Key(Up), Key(W)],
    down: [Key(Down), Key(S)],
    shoot: [Mouse(Left)],
    transform: [Mouse(Right)],
    gas: [Mouse(Left)],
)
