LevelConfig(
    foreground: ProcGenConfig(
        spacing: 20.0,
        blocks_number: 50,
        blocks: [
            (
                weight: 2.0,
                health: Some(50.0),
                kind: Barrel,
                shape: Circle( radius: 2.0 ),
                vulnerability: VulnerabilityStats(
                    physical: 0.5,
                    fire: 2.0,
                    explosive: 3.0,
                ),
                explosion: Some(ExplosionConfig(
                    radius: 30.0,
                    knockback: 50.0,
                    damage: 50.0,
                    ignite: Some(OnFire(
                        duration: 5.0,
                        damage_per_second: 20.0,
                    )),
                )),
            ),
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 5.0,
                    height: 7.5,
                ),
            ),
            (
                weight: 10.0,
                shape: Circle( radius: 4.0 ),
            ),
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 6.0,
                    height: 6.0,
                ),
            ),
        ],
    ),
    background: ProcGenConfig(
        spacing: 45.0,
        blocks_number: 50,
        blocks: [
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 30.0,
                    height: 40.5,
                ),
            ),
            (
                weight: 10.0,
                shape: Circle( radius: 20.0 ),
            ),
            (
                weight: 10.0,
                shape: Rectangle(
                    width: 40.0,
                    height: 40.0,
                ),
            ),
        ],
    ),
)