(
    min_spawn_distance: 100.0,
    max_spawn_distance: 150.0,
    spawn_circle_radius: 10.0,
    waves: [
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "crawler",
                "crawler",
                "ranger2",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "crawler",
                "tank",
                "tank",
                "ranger2",
                "ranger2",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "ranger",
            ],
        ),
        (
            wave_delay: 1.0,
            spawn_delay: 0.1,
            wait_for_deaths: true,
            enemies: [
                "crawler",
                "crawler",
                "tank",
                "ranger2",
                "ranger",
            ],
        ),
    ],
)
